  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  main{
    background-color: rgb(79, 18, 136);
    height: 100vh;
    color: rgb(126, 124, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  h1{
    margin-bottom: 33px;
  }
  #temperature{
        color: yellow;
        font-size: 32px;
        
  }
  .cities{
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    margin-top: 1.5rem;
    
  }
  button{
    padding: 1rem;
    width: 142px;
    border-radius: 4px;
    border: none;
    transition: all ease-in 0.5s;
    background-color: rgb(178, 143, 211);
    color: rgb(21, 20, 20);
    font-size: 0.9rem;
 
  }
  button:hover{
    background-color: rgb(178, 143, 211);
    cursor: pointer;
    
  }
